<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>News</title>
    <link rel="stylesheet" href="../css/news.css">
</head>

<body>

    <div class="header">
        <a style=" text-decoration: none; color: black;" href="/auth/news">
            <h2>NEWS</h2>
        </a>
    </div>

    <div class="row">
        <div class="leftcolumn">
            <section class="background firstsection">
                <div class="box-main">
                    <div class="firstHalf">
                        <p class="text-big">About US</p>

                        <p class="text-small">
                            Here you will get to know the team members of our company
                        </p>

                        <br>

                        <p class="center"><a href="#Order" style="text-decoration:none;color:white;">
                                Below are the people who
                                works in our company</a>
                        </p>

                    </div>
                </div>
        </div>
        <div class="rightcolumn" style="visibility: hidden;">
            <div class="card">
                <h2>About Me</h2>
                <div class="fakeimg" style="height:100px;">Image</div>
                <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
            </div>
            <div class="card">
                <h3>Popular Post</h3>
                <div class="fakeimg">Image</div><br>
                <div class="fakeimg">Image</div><br>
                <div class="fakeimg">Image</div>
            </div>

        </div>
    </div>

    <!-- <div class="footer"> -->


    <hr>
    <!-- </div> -->
    <footer>
        <div class="container">
            <div class="row">


                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <li><a class="feedback" href="/news/feedback"><i class="fa fa-facebook"></i>feedback</a></li>
                        <li><a class="aboutus" href="/news/aboutus"><i class="fa fa-twitter"></i>aboutus</a></li>
                        <li><a class="contactus" href="/news/contactus"><i class="fa fa-dribbble"></i>contactus</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </footer>

    </div>
</body>

</html>