<link rel="stylesheet" href="../css/feedback.css" title="" type="" />

<div class="container">


    <form action="" method="POST" accept-charset="utf-8">
        <table>
            <h1 class="mainhead"> Feedback</h1>
            <hr />
            <!-- <h2>contact information </h2> -->
            <p>Name:* <input type="text" name="Name" placeholder="enter name" id="" value="" required/></p>


            <p>Email: <input type="Email" name="Email" placeholder="enter your email" id="email" value="" /></p>
            <p>Feedback: <input type="textarea" name="feedback" placeholder="enter feedback" id="feedback" rows="6" cols="10" value="" /></p>


            </select>

            <div class="paynow">


                <input type="submit" name="" id="" value="submit" /></div>
        </table>
    </form>
</div>