<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>News</title>
    <link rel="stylesheet" href="../css/news.css">
    <link rel="stylesheet" href="../css/feedback.css">
</head>

<body>

    <div class="header">
        <h2>NEWS</h2>
    </div>

    <div class="row">
        <div class="container">


            <form action="" method="POST" accept-charset="utf-8">
                <table>
                    <h1 class="mainhead"> Feedback</h1>
                    <hr />
                    <!-- <h2>contact information </h2> -->
                    <p>Name:* <input type="text" name="Name" placeholder="enter name" id="" value="" required/></p>


                    <p>Email: <input type="Email" name="Email" placeholder="enter your email" id="email" value="" /></p>
                    <p>Feedback: <input type="textarea" name="feedback" placeholder="enter feedback" id="feedback" rows="6" cols="10" value="" /></p>


                    </select>

                    <div class="paynow">


                        <input type="submit" name="" id="" value="submit" /></div>
                </table>
            </form>
        </div>

    </div>

    <!-- <div class="footer"> -->


    <hr>
    <!-- </div> -->
    <footer>
        <div class="container">
            <div class="row">


                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <li><a class="feedback" href="/news/feedback"><i class="fa fa-facebook"></i>feedback</a></li>
                        <li><a class="aboutus" href="/news/aboutus"><i class="fa fa-twitter"></i>aboutus</a></li>
                        <li><a class="contactus" href="/news/contactus"><i class="fa fa-dribbble"></i>contactus</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </footer>

    </div>
</body>

</html>