<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>registration</title>
    <link rel="stylesheet" href="../css/registration.css" title="" type="" />
</head>


<body>
    <div class="gird">
        <div class="container">


            <form action="" method="POST" accept-charset="utf-8">
                <table>
                    <h1 class="mainhead"> User Registration</h1>
                    <hr />

                    <p>UserName:* <input type="text" name="Name" placeholder="enter name" id="" value="" required /></p>
                    <p>Email:* <input type="Email" name="Email" placeholder="enter your email" id="email" value="" required /></p>
                    <p> Password:* <input type="text" id="password" value="" required> </p>


                    <fieldset>

                        <legend>Gender</legend>
                        <p> Male: <input type="radio" name="gender" id="Male" value="" /> Female: <input type="radio" name="gender" id="Female" value="" />
                        </p>
                    </fieldset>
                    <center>

                        <input type="submit" name="" id="" value="registration" />
                    </center>

                </table>
            </form>
        </div>
    </div>


</body>

</html>